.idea
node_modules
dist
*.zip
css/print/
css/reveal.css
css/theme/beige.css
css/theme/blood.css
css/theme/moon.css
css/theme/night.css
css/theme/serif.css
css/theme/simple.css
css/theme/sky.css
css/theme/solarized.css
css/theme/source/
css/theme/template/
js/reveal.js
css/theme/README.md
